/* Определяем общий стиль для всего документа */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стили для контейнера */
.container {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков */
h1 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Стили для полей формы */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-row label {
  flex: 0 0 200px;
  margin-right: 20px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="date"],
.form-row select,
.form-row textarea,
.form-row input[type="file"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.form-row select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L0.535898 -3.8147e-06H7.4641L4 6Z' fill='%23888'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.header {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
}
        
.logo {
    width: 70px;
    height: 70px;
    background-image: url('/static/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;

}
        
.form-row input[type="file"] {
  border: none;
  padding: 0;
}

/* Стили для кнопки отправки формы */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0069d9;
}

/* Стили для формы */
.form-group {
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}
